<template>
    <div class="alice-bg padding-top-60 section-padding-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="job-listing-details">
                        <div class="job-title-and-info">
                            <div class="title">
                                <div class="thumb">
                                    <img src="images/job/company-logo-1.png" class="img-fluid" alt>
                                </div>
                                <div class="title-body">
                                    <h4>Designer Required</h4>
                                    <div class="info">
                                        <span class="company">
                                            <a href="job-details.html#">
                                                <i data-feather="briefcase"></i>Theoreo
                                            </a>
                                        </span>
                                        <span class="office-location">
                                            <a href="job-details.html#">
                                                <i data-feather="map-pin"></i>New York City
                                            </a>
                                        </span>
                                        <span class="job-type full-time">
                                            <a href="job-details.html#">
                                                <i data-feather="clock"></i>Full Time
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons">
                                <a :class="{save: !isTabDescription, apply: isTabDescription}" href="javascript:;" @click="changeTab('description')">See Description</a>
                                <a :class="{save: !isTabMessage, apply: isTabMessage}" href="javascript:;" @click="changeTab('message')">Send Message</a>
                            </div>
                        </div>
                        <JobDescription v-if="currentTab == 'description'"></JobDescription>
                        <Message v-if="currentTab == 'message'"></Message>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import JobDescription from "@/components/JobDescription.vue";
import Message from "@/components/Message.vue";

export default {
    name: "JobDetail",
    components: {
        JobDescription,
        Message,
    },
    data() {
        return {
            currentTab: 'description'
        }
    },
    computed: {
        isTabDescription() {
            return this.currentTab == 'description'
        },
        isTabMessage() {
            return this.currentTab == 'message'
        },
    },
    methods: {
        changeTab: function(val) {
            this.currentTab = val;
        }
    }
};
</script>

<style>
</style>
