<template>
    <div>
        <div class="details-information section-padding-60">
            <div class="row">
                <div class="col-xl-7 col-lg-8">
                    <div class="description details-section">
                        <h4>
                            <i data-feather="align-left"></i>Job Description
                        </h4>
                        <p>Combined with a handful of model sentence structures, to generate lorem Ipsum which It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including.</p>
                        <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable</p>
                    </div>
                    <div class="responsibilities details-section">
                        <h4>
                            <i data-feather="zap"></i>Responsibilities
                        </h4>
                        <ul>
                            <li>The applicants should have experience in the following areas</li>
                            <li>Skills on M.S Word, Excel, and Integrated Accounting package i.e. Software</li>
                            <li>Have sound knowledge of commercial activities.</li>
                            <li>Should have vast knowledge in IAS/ IFRS, Company Act, Income Tax, VAT.</li>
                            <li>Good verbal and written communication skills.</li>
                            <li>Leadership, analytical, and problem-solving abilities.</li>
                        </ul>
                    </div>
                    <div class="edication-and-experience details-section">
                        <h4>
                            <i data-feather="book"></i>Education + Experience
                        </h4>
                        <ul>
                            <li>M.Com (Accounting) / M.B.S / M.B.A under National University with CA course complete.</li>
                            <li>M.S (Statistics) any Public University / National University.</li>
                            <li>Masters of library science any Public University.</li>
                            <li>2 to 3 year(s) Experiance</li>
                            <li>Females candidate are discourage to apply.</li>
                        </ul>
                    </div>
                    <div class="other-benifit details-section">
                        <h4>
                            <i data-feather="gift"></i>Other Benefits
                        </h4>
                        <ul>
                            <li>Health and life insurance</li>
                            <li>2 days of weekend</li>
                            <li>2 annual performanc Bonuses</li>
                            <li>Lunch &amp; Snacks</li>
                        </ul>
                    </div>
                    <div class="job-apply-buttons">
                        <a href="job-details.html#" class="apply">Apply Online</a>
                        <a href="job-details.html#" class="email">
                            <i data-feather="mail"></i>Email Job
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 offset-xl-1 col-lg-4">
                    <div class="information-and-share">
                        <div class="job-summary">
                            <h4>Job Summary</h4>
                            <ul>
                                <li>
                                    <span>Published on:</span> Oct 6, 2018
                                </li>
                                <li>
                                    <span>Vacancy:</span> 08
                                </li>
                                <li>
                                    <span>Employment Status:</span> Full-time
                                </li>
                                <li>
                                    <span>Experience:</span> 2 to 3 year(s)
                                </li>
                                <li>
                                    <span>Job Location:</span> New ork City
                                </li>
                                <li>
                                    <span>Salary:</span> $32k - $36k
                                </li>
                                <li>
                                    <span>Gender:</span> Any
                                </li>
                                <li>
                                    <span>Application Deadline:</span> Oct 15, 2018
                                </li>
                            </ul>
                        </div>
                        <div class="share-job-post">
                            <span class="share">
                                <i class="fas fa-share-alt"></i>Share:
                            </span>
                            <a href="job-details.html#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="job-details.html#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="job-details.html#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="job-details.html#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                            <a href="job-details.html#">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                            <a href="job-details.html#" class="add-more">
                                <span class="ti-plus"></span>
                            </a>
                        </div>
                        <div class="buttons">
                            <a href="job-details.html#" class="button print">
                                <i data-feather="printer"></i>Print Job
                            </a>
                            <a href="job-details.html#" class="button report">
                                <i data-feather="flag"></i>Report Job
                            </a>
                        </div>
                        <div class="job-location">
                            <h4>Job Location</h4>
                            <div id="map-area">
                                <div
                                    class="cp-map"
                                    id="location"
                                    data-lat="40.713355"
                                    data-lng="-74.005535"
                                    data-zoom="10"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-7 col-lg-8">
                <div class="company-information details-section">
                    <h4>
                        <i data-feather="briefcase"></i>About the Company
                    </h4>
                    <ul>
                        <li>
                            <span>Company Name:</span> The Oreo Company Ltd.
                        </li>
                        <li>
                            <span>Address:</span> Queens, NY 11375 USA
                        </li>
                        <li>
                            <span>Website:</span>
                            <a href="job-details.html#">www.theoreoltd.com</a>
                        </li>
                        <li>
                            <span>Company Profile:</span>
                        </li>
                        <li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum looked up one of the more obscure Latin words, consectetur.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style>
</style>
