<template>
    <div>
        <div class="dashboard-applied">
            <h4 class="apply-title">{{listJobs.length}} Job Applied</h4>
            <div class="dashboard-apply-area">
                <div v-for="(job, index) in listJobs" :key="index" class="job-list">
                    <div class="thumb">
                        <a href="dashboard-applied.html#">
                            <img :src="job.thumbnail" class="img-fluid" alt>
                        </a>
                    </div>
                    <div class="body">
                        <div class="content">
                            <h4>
                                <router-link :to="{name:'employer_job_detail'}">{{job.title}}</router-link>
                                <!-- <a href="dashboard-applied.html#">Designer Required</a> -->
                            </h4>
                            <div class="info">
                                <span class="company">
                                    <a href="dashboard-applied.html#">
                                        <i data-feather="briefcase"></i>{{job.employer}}
                                    </a>
                                </span>
                                <span class="office-location">
                                    <a href="dashboard-applied.html#">
                                        <i data-feather="map-pin"></i>{{job.locate}}
                                    </a>
                                </span>
                                <span class="job-type full-time">
                                    <a href="dashboard-applied.html#">
                                        <i data-feather="clock"></i>{{job.type}}
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="more">
                            <div class="buttons">
                                <a href="dashboard-applied.html#" class="button">Apply Now</a>
                                <a href="dashboard-applied.html#" class="favourite">
                                    <i data-feather="heart"></i>
                                </a>
                            </div>
                            <a href="dashboard-applied.html#" class="bookmark-remove">
                                <i class="fas fa-times"></i>
                            </a>
                            <p class="deadline">{{job.deadline}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: "AppliedJob",
    data() {
        return {
            listJobs: []
        }
    },
    created() {
        var self = this;
        axios({
            method: 'GET',
            url: `http://103.81.85.163/freelance/api/freelancer/applied_job.json`
        }).then(response => {
            self.listJobs = response.data
        });
    }
};
</script>

<style>
</style>
