<template>
    <div>
        <FreelancerHeader></FreelancerHeader>
        <router-view></router-view>
    </div>
</template>

<script>
import FreelancerHeader from "@/components/FreelancerHeader.vue";

export default {
    name: "Freelancer",
    components: {
        FreelancerHeader,
    }
};
</script>
