<template>
    <div>
        <EmployerHeader></EmployerHeader>
        <router-view></router-view>
    </div>
</template>

<script>
import EmployerHeader from "@/components/EmployerHeader.vue";

export default {
    name: "Employer",
    components: {
        EmployerHeader,
    }
};
</script>