<template>
    <div>
        <div class="manage-job-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Job Title</th>
                        <th>Applications</th>
                        <th>Deadline</th>
                        <th>Status</th>
                        <th class="action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="job-items">
                        <td class="title">
                            <h5>
                                <router-link :to="{name:'employer_job_detail'}">Land Development Marketer</router-link>
                            </h5>
                            <div class="info">
                                <span class="office-location">
                                    <a href="employer-dashboard-manage-job.html#">
                                        <i data-feather="map-pin"></i>New Orleans
                                    </a>
                                </span>
                                <span class="job-type full-time">
                                    <a href="employer-dashboard-manage-job.html#">
                                        <i data-feather="clock"></i>Full Time
                                    </a>
                                </span>
                            </div>
                        </td>
                        <td class="application">
                            <a href="employer-dashboard-manage-job.html#">6 Application(s)</a>
                        </td>
                        <td class="deadline">Oct 31, 2018</td>
                        <td class="status active">Active</td>
                        <td class="action">
                            <a
                                href="employer-dashboard-manage-job.html#"
                                class="preview"
                                title="Preview"
                            >
                                <i data-feather="eye"></i>
                            </a>
                            <a href="employer-dashboard-manage-job.html#" class="edit" title="Edit">
                                <i data-feather="edit"></i>
                            </a>
                            <a
                                href="employer-dashboard-manage-job.html#"
                                class="remove"
                                title="Delete"
                            >
                                <i data-feather="trash-2"></i>
                            </a>
                        </td>
                    </tr>
                    <tr class="job-items">
                        <td class="title">
                            <h5>
                                <a href="employer-dashboard-manage-job.html#">Designer Required</a>
                            </h5>
                            <div class="info">
                                <span class="office-location">
                                    <a href="employer-dashboard-manage-job.html#">
                                        <i data-feather="map-pin"></i>New Orleans
                                    </a>
                                </span>
                                <span class="job-type freelance">
                                    <a href="employer-dashboard-manage-job.html#">
                                        <i data-feather="clock"></i>Freelance
                                    </a>
                                </span>
                            </div>
                        </td>
                        <td class="application">
                            <a href="employer-dashboard-manage-job.html#">6 Application(s)</a>
                        </td>
                        <td class="deadline">Oct 31, 2018</td>
                        <td class="status pending">Pending</td>
                        <td class="action">
                            <a
                                href="employer-dashboard-manage-job.html#"
                                class="preview"
                                title="Preview"
                            >
                                <i data-feather="eye"></i>
                            </a>
                            <a href="employer-dashboard-manage-job.html#" class="edit" title="Edit">
                                <i data-feather="edit"></i>
                            </a>
                            <a
                                href="employer-dashboard-manage-job.html#"
                                class="remove"
                                title="Delete"
                            >
                                <i data-feather="trash-2"></i>
                            </a>
                        </td>
                    </tr>
                    <tr class="job-items">
                        <td class="title">
                            <h5>
                                <a
                                    href="employer-dashboard-manage-job.html#"
                                >Restaurant Team Member - Crew</a>
                            </h5>
                            <div class="info">
                                <span class="office-location">
                                    <a href="employer-dashboard-manage-job.html#">
                                        <i data-feather="map-pin"></i>New Orleans
                                    </a>
                                </span>
                                <span class="job-type temporary">
                                    <a href="employer-dashboard-manage-job.html#">
                                        <i data-feather="clock"></i>Temporary
                                    </a>
                                </span>
                            </div>
                        </td>
                        <td class="application">
                            <a href="employer-dashboard-manage-job.html#">6 Application(s)</a>
                        </td>
                        <td class="deadline">Oct 31, 2018</td>
                        <td class="status expired">Expired</td>
                        <td class="action">
                            <a
                                href="employer-dashboard-manage-job.html#"
                                class="preview"
                                title="Preview"
                            >
                                <i data-feather="eye"></i>
                            </a>
                            <a href="employer-dashboard-manage-job.html#" class="edit" title="Edit">
                                <i data-feather="edit"></i>
                            </a>
                            <a
                                href="employer-dashboard-manage-job.html#"
                                class="remove"
                                title="Delete"
                            >
                                <i data-feather="trash-2"></i>
                            </a>
                        </td>
                    </tr>
                    <tr class="job-items">
                        <td class="title">
                            <h5>
                                <router-link :to="{name:'employer_job_detail'}">Land Development Marketer</router-link>
                            </h5>
                            <div class="info">
                                <span class="office-location">
                                    <a href="employer-dashboard-manage-job.html#">
                                        <i data-feather="map-pin"></i>New Orleans
                                    </a>
                                </span>
                                <span class="job-type full-time">
                                    <a href="employer-dashboard-manage-job.html#">
                                        <i data-feather="clock"></i>Full Time
                                    </a>
                                </span>
                            </div>
                        </td>
                        <td class="application">
                            <a href="employer-dashboard-manage-job.html#">6 Application(s)</a>
                        </td>
                        <td class="deadline">Oct 31, 2018</td>
                        <td class="status active">Active</td>
                        <td class="action">
                            <a
                                href="employer-dashboard-manage-job.html#"
                                class="preview"
                                title="Preview"
                            >
                                <i data-feather="eye"></i>
                            </a>
                            <a href="employer-dashboard-manage-job.html#" class="edit" title="Edit">
                                <i data-feather="edit"></i>
                            </a>
                            <a
                                href="employer-dashboard-manage-job.html#"
                                class="remove"
                                title="Delete"
                            >
                                <i data-feather="trash-2"></i>
                            </a>
                        </td>
                    </tr>
                    <tr class="job-items">
                        <td class="title">
                            <h5>
                                <a href="employer-dashboard-manage-job.html#">Designer Required</a>
                            </h5>
                            <div class="info">
                                <span class="office-location">
                                    <a href="employer-dashboard-manage-job.html#">
                                        <i data-feather="map-pin"></i>New Orleans
                                    </a>
                                </span>
                                <span class="job-type freelance">
                                    <a href="employer-dashboard-manage-job.html#">
                                        <i data-feather="clock"></i>Freelance
                                    </a>
                                </span>
                            </div>
                        </td>
                        <td class="application">
                            <a href="employer-dashboard-manage-job.html#">6 Application(s)</a>
                        </td>
                        <td class="deadline">Oct 31, 2018</td>
                        <td class="status pending">Pending</td>
                        <td class="action">
                            <a
                                href="employer-dashboard-manage-job.html#"
                                class="preview"
                                title="Preview"
                            >
                                <i data-feather="eye"></i>
                            </a>
                            <a href="employer-dashboard-manage-job.html#" class="edit" title="Edit">
                                <i data-feather="edit"></i>
                            </a>
                            <a
                                href="employer-dashboard-manage-job.html#"
                                class="remove"
                                title="Delete"
                            >
                                <i data-feather="trash-2"></i>
                            </a>
                        </td>
                    </tr>
                    <tr class="job-items">
                        <td class="title">
                            <h5>
                                <a
                                    href="employer-dashboard-manage-job.html#"
                                >Restaurant Team Member - Crew</a>
                            </h5>
                            <div class="info">
                                <span class="office-location">
                                    <a href="employer-dashboard-manage-job.html#">
                                        <i data-feather="map-pin"></i>New Orleans
                                    </a>
                                </span>
                                <span class="job-type temporary">
                                    <a href="employer-dashboard-manage-job.html#">
                                        <i data-feather="clock"></i>Temporary
                                    </a>
                                </span>
                            </div>
                        </td>
                        <td class="application">
                            <a href="employer-dashboard-manage-job.html#">6 Application(s)</a>
                        </td>
                        <td class="deadline">Oct 31, 2018</td>
                        <td class="status expired">Expired</td>
                        <td class="action">
                            <a
                                href="employer-dashboard-manage-job.html#"
                                class="preview"
                                title="Preview"
                            >
                                <i data-feather="eye"></i>
                            </a>
                            <a href="employer-dashboard-manage-job.html#" class="edit" title="Edit">
                                <i data-feather="edit"></i>
                            </a>
                            <a
                                href="employer-dashboard-manage-job.html#"
                                class="remove"
                                title="Delete"
                            >
                                <i data-feather="trash-2"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination-list text-center">
                <nav class="navigation pagination">
                    <div class="nav-links">
                        <a class="prev page-numbers" href="employer-dashboard-manage-job.html#">
                            <i class="fas fa-angle-left"></i>
                        </a>
                        <a class="page-numbers" href="employer-dashboard-manage-job.html#">1</a>
                        <span aria-current="page" class="page-numbers current">2</span>
                        <a class="page-numbers" href="employer-dashboard-manage-job.html#">3</a>
                        <a class="page-numbers" href="employer-dashboard-manage-job.html#">4</a>
                        <a class="next page-numbers" href="employer-dashboard-manage-job.html#">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style>
</style>
