<template>
    <div>
        <div class="manage-candidate-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Job Title</th>
                        <th>Status</th>
                        <th class="action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="candidates-list">
                        <td class="title">
                            <div class="thumb">
                                <img src="dashboard/images/user-1.jpg" class="img-fluid" alt>
                            </div>
                            <div class="body">
                                <h5>
                                    <a href="employer-dashboard-manage-candidate.html#">Lula Wallace</a>
                                </h5>
                                <div class="info">
                                    <span class="designation">
                                        <a href="employer-dashboard-manage-candidate.html#">
                                            <i data-feather="check-square"></i>Senior UI / UX Designer
                                        </a>
                                    </span>
                                    <span class="location">
                                        <a href="employer-dashboard-manage-candidate.html#">
                                            <i data-feather="map-pin"></i>New Orleans
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="status">
                            <i data-feather="check-circle"></i>Shortlisted
                        </td>
                        <td class="action">
                            <a href="employer-dashboard-manage-candidate.html#" class="download">
                                <i data-feather="download"></i>
                            </a>
                            <a href="employer-dashboard-manage-candidate.html#" class="inbox">
                                <i data-feather="mail"></i>
                            </a>
                            <a href="employer-dashboard-manage-candidate.html#" class="remove">
                                <i data-feather="trash-2"></i>
                            </a>
                        </td>
                    </tr>
                    <tr class="candidates-list">
                        <td class="title">
                            <div class="thumb">
                                <img src="dashboard/images/user-2.jpg" class="img-fluid" alt>
                            </div>
                            <div class="body">
                                <h5>
                                    <a
                                        href="employer-dashboard-manage-candidate.html#"
                                    >Hertha A. Sullivan</a>
                                </h5>
                                <div class="info">
                                    <span class="designation">
                                        <a href="employer-dashboard-manage-candidate.html#">
                                            <i data-feather="check-square"></i>Senior UI / UX Designer
                                        </a>
                                    </span>
                                    <span class="location">
                                        <a href="employer-dashboard-manage-candidate.html#">
                                            <i data-feather="map-pin"></i>New Orleans
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="status">
                            <i data-feather="check-circle"></i>Shortlisted
                        </td>
                        <td class="action">
                            <a href="employer-dashboard-manage-candidate.html#" class="download">
                                <i data-feather="download"></i>
                            </a>
                            <a href="employer-dashboard-manage-candidate.html#" class="inbox">
                                <i data-feather="mail"></i>
                            </a>
                            <a href="employer-dashboard-manage-candidate.html#" class="remove">
                                <i data-feather="trash-2"></i>
                            </a>
                        </td>
                    </tr>
                    <tr class="candidates-list">
                        <td class="title">
                            <div class="thumb">
                                <img src="dashboard/images/user-3.jpg" class="img-fluid" alt>
                            </div>
                            <div class="body">
                                <h5>
                                    <a
                                        href="employer-dashboard-manage-candidate.html#"
                                    >David Johnston</a>
                                </h5>
                                <div class="info">
                                    <span class="designation">
                                        <a href="employer-dashboard-manage-candidate.html#">
                                            <i data-feather="check-square"></i>Senior UI / UX Designer
                                        </a>
                                    </span>
                                    <span class="location">
                                        <a href="employer-dashboard-manage-candidate.html#">
                                            <i data-feather="map-pin"></i>New Orleans
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="status">
                            <i data-feather="check-circle"></i>Shortlisted
                        </td>
                        <td class="action">
                            <a href="employer-dashboard-manage-candidate.html#" class="download">
                                <i data-feather="download"></i>
                            </a>
                            <a href="employer-dashboard-manage-candidate.html#" class="inbox">
                                <i data-feather="mail"></i>
                            </a>
                            <a href="employer-dashboard-manage-candidate.html#" class="remove">
                                <i data-feather="trash-2"></i>
                            </a>
                        </td>
                    </tr>
                    <tr class="candidates-list">
                        <td class="title">
                            <div class="thumb">
                                <img src="dashboard/images/user-4.jpg" class="img-fluid" alt>
                            </div>
                            <div class="body">
                                <h5>
                                    <a href="employer-dashboard-manage-candidate.html#">Robert Hayes</a>
                                </h5>
                                <div class="info">
                                    <span class="designation">
                                        <a href="employer-dashboard-manage-candidate.html#">
                                            <i data-feather="check-square"></i>Senior UI / UX Designer
                                        </a>
                                    </span>
                                    <span class="location">
                                        <a href="employer-dashboard-manage-candidate.html#">
                                            <i data-feather="map-pin"></i>New Orleans
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="status">
                            <i data-feather="check-circle"></i>Shortlisted
                        </td>
                        <td class="action">
                            <a href="employer-dashboard-manage-candidate.html#" class="download">
                                <i data-feather="download"></i>
                            </a>
                            <a href="employer-dashboard-manage-candidate.html#" class="inbox">
                                <i data-feather="mail"></i>
                            </a>
                            <a href="employer-dashboard-manage-candidate.html#" class="remove">
                                <i data-feather="trash-2"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination-list text-center">
                <nav class="navigation pagination">
                    <div class="nav-links">
                        <a
                            class="prev page-numbers"
                            href="employer-dashboard-manage-candidate.html#"
                        >
                            <i class="fas fa-angle-left"></i>
                        </a>
                        <a class="page-numbers" href="employer-dashboard-manage-candidate.html#">1</a>
                        <span aria-current="page" class="page-numbers current">2</span>
                        <a class="page-numbers" href="employer-dashboard-manage-candidate.html#">3</a>
                        <a class="page-numbers" href="employer-dashboard-manage-candidate.html#">4</a>
                        <a
                            class="next page-numbers"
                            href="employer-dashboard-manage-candidate.html#"
                        >
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</template>

<script>
export default {};
</script>

<style>
</style>
