<template>
    <div>
        <div class="alice-bg padding-top-70 padding-bottom-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="breadcrumb-area">
                            <h1>Candidates Dashboard</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="dashboard.html#">Home</a>
                                    </li>
                                    <li
                                        class="breadcrumb-item active"
                                        aria-current="page"
                                    >Candidates Dashboard</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="breadcrumb-form">
                            <form action="dashboard.html#">
                                <input type="text" placeholder="Enter Keywords">
                                <button>
                                    <i data-feather="search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alice-bg section-padding-bottom">
            <div class="container no-gliters">
                <div class="row no-gliters">
                    <div class="col">
                        <div class="dashboard-container">
                            <div class="dashboard-content-wrapper">
                                <router-view></router-view>
                            </div>
                            <div class="dashboard-sidebar">
                                <div class="user-info">
                                    <div class="thumb">
                                        <img
                                            src="dashboard/images/user-1.jpg"
                                            class="img-fluid"
                                            alt
                                        >
                                    </div>
                                    <div class="user-body">
                                        <h5>Lula Wallace</h5>
                                        <span>@username</span>
                                    </div>
                                </div>
                                <div class="profile-progress">
                                    <div class="progress-item">
                                        <div class="progress-head">
                                            <p class="progress-on">Profile</p>
                                        </div>
                                        <div class="progress-body">
                                            <div class="progress">
                                                <div
                                                    class="progress-bar"
                                                    role="progressbar"
                                                    aria-valuenow="70"
                                                    aria-valuemin="0"
                                                    aria-valuemax="100"
                                                    style="width: 0;"
                                                ></div>
                                            </div>
                                            <p class="progress-to">70%</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="dashboard-menu">
                                    <ul>
                                        <li :class="{active : $route.name == 'employer_dashboard'}">
                                            <i class="fas fa-home"></i>
                                            <router-link :to="{name: 'employer_dashboard'}">Dashboard</router-link>
                                        </li>
                                        <li :class="{active : $route.name == 'employer_edit_profile'}">
                                            <i class="fas fa-user"></i>
                                            <router-link :to="{name: 'employer_edit_profile'}">Edit Profile</router-link>
                                        </li>
                                        <li :class="{active : $route.name == 'employer_manage_job'}">
                                            <i class="fas fa-check-square"></i>
                                            <router-link :to="{name: 'employer_manage_job'}">Manage Jobs</router-link>
                                        </li>
                                        <li :class="{active : $route.name == 'employer_manage_freelancer'}">
                                            <i class="fas fa-check-square"></i>
                                            <router-link :to="{name: 'employer_manage_freelancer'}">Manage Freelancers</router-link>
                                        </li>
                                    </ul>
                                    <ul class="delete">
                                        <li>
                                            <i class="fas fa-power-off"></i>
                                            <a href="dashboard.html#">Logout</a>
                                        </li>
                                        <li>
                                            <i class="fas fa-trash-alt"></i>
                                            <a
                                                href="dashboard.html#"
                                                data-toggle="modal"
                                                data-target="#modal-delete"
                                            >Delete Profile</a>
                                        </li>
                                    </ul>
                                    <!-- Modal -->
                                    <div
                                        class="modal fade modal-delete"
                                        id="modal-delete"
                                        tabindex="-1"
                                        role="dialog"
                                        aria-hidden="true"
                                    >
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <h4>
                                                        <i data-feather="trash-2"></i>Delete Account
                                                    </h4>
                                                    <p>Are you sure! You want to delete your profile. This can't be undone!</p>
                                                    <form action="dashboard.html#">
                                                        <div class="form-group">
                                                            <input
                                                                type="password"
                                                                class="form-control"
                                                                placeholder="Enter password"
                                                            >
                                                        </div>
                                                        <div class="buttons">
                                                            <button
                                                                class="delete-button"
                                                            >Save Update</button>
                                                            <button class>Cancel</button>
                                                        </div>
                                                        <div class="form-group form-check">
                                                            <input
                                                                type="checkbox"
                                                                class="form-check-input"
                                                                checked
                                                            >
                                                            <label
                                                                class="form-check-label"
                                                            >You accepts our
                                                                <a
                                                                    href="dashboard.html#"
                                                                >Terms and Conditions</a> and
                                                                <a
                                                                    href="dashboard.html#"
                                                                >Privacy Policy</a>
                                                            </label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
